[Unit]
Description=balloonInit

[Service]
Type=oneshot
ExecStart=/home/avery/GitRepos/Lepton-Balloon/MLX/enableCombined.sh
ExecStart=/home/avery/GitRepos/Lepton-Balloon/daemon/startLog.sh
ExecStart=/home/avery/GitRepos/Lepton-Balloon/daemon/startDownlink.sh

[Install]
WantedBy=multi-user.target
