[Unit]
Description=filePoll

[Service]
Type=simple
ExecStart=/home/pi/GitRepos/Lepton-Balloon/ground/filepoll
Restart=on-failure

[Install]
WantedBy=multi-user.target
