[Unit]
Description=Ensures GPSLog is running

[Service]
Type=simple
ExecStart=/home/avery/GitRepos/Lepton-Balloon/gps/gpsLog.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
