[Unit]
Description=groundMonitor

[Service]
Type=simple
ExecStart=/home/pi/GitRepos/Lepton-Balloon/ground/groundmonitor
Restart=on-failure

[Install]
WantedBy=multi-user.target
