[Unit]
Description=heaterLog

[Service]
Type=simple
ExecStart=/home/avery/GitRepos/Lepton-Balloon/heater/heaterLog.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
